
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }

  center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"],
  input[type="datetime-local"],
  button {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  h2 {
    font-size: 24px;
    margin: 10px 0;
  }

  ol {
    list-style-type: none;
    padding: 0;
  }

  li {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .completed_task,
  .pending_task {
    flex-basis: 48%;
  }

  .fa-clock {
    margin-right: 5px;
  }